<p-toast></p-toast>
<div class="container">
  <div class="row" style="padding: 5px">
    <div class="col col-sm-6">
      <span class="ui-float-label">
        <input id="float-input" type="text" size="80" pInputText [(ngModel)]="questionpaper.Name">
        <label for="float-input">Name</label>
      </span>
    </div>
    <div class="col col-sm-1">
    </div>
    <div class="col col-sm-2" *ngIf="subjects.length > 0">
      <p-dropdown [options]="subjects" (onChange)="SubjectChange($event)" optionLabel="subject"></p-dropdown>
    </div>
    <div class="col col-sm-1">
    </div>
    <div class="col col-sm-1">
      <button pButton type="button" class="ui-button-save" label="Save" (click)="saveQuestionPaper();"></button>
    </div>
    <div class="col col-sm-1">
      <button pButton type="button" class="ui-button-plus" label="New" (click)="addNewQuestionPaper();"></button>
    </div>
  </div>

  <div class="row">
    <div [class]="orientationMeasure.controls">
      <app-qcreate [SubjectId]="questionpaper.SubjectId"></app-qcreate>
    </div>
    <div [class]="orientationMeasure.canvas">
      <app-qcanvas></app-qcanvas>
    </div>
  </div>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>