.container
{
    width: 100%;
    max-width: 100%;
}

.ui-menu.ui-menu-dynamic {
    position: relative;
    top: 0px !important;
    left: -77px !important;
}

app-qcanvas,app-qcreate {
    height: 100%;
}