table
{
    width: 100%;
}
button
{
    color:white;
    background: #3c8dbc;
    margin: 0 3px;
}
.row
{
    width: 100%;
}
.form-control
{
    min-height: 100vh;
}

p-button
{
    margin-right: 10px;
}

.images
{
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.images:hover{
    background: #e2e0e0;
}