<p-toast></p-toast>
<div class="form-control">
  <br>
  <form *ngIf="viewForm" #QuestionForm="ngForm" class="example-form" style="width:100%">
    <input type="hidden" name="Id" [(ngModel)]="_question.Id" #IdField>
    <div class="row">
      <div class="col col-sm-6">
        <div class="row">
          <div class="col col-sm-12">
            <input type="text" size="80" [(ngModel)]="_question.Question1" required placeholder="Question" name="question"
              #QuestionField pInputText>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col col-sm-3">
            <p-dropdown [options]="lessons" name="lesson" (onChange)="LessonChange($event)" [(ngModel)]="lesson"
              optionLabel="lesson"></p-dropdown>
          </div>
          <div class="col col-sm-1">
          </div>
          <div class="col col-sm-8" *ngIf="_question.Id != undefined">
            <!-- <p-fileUpload name="imagebinary" [url]="rootUrl+'/upload'" multiple="multiple" auto="auto" accept="image/*" maxFileSize="1000000"></p-fileUpload> -->
            <!-- <p-fileUpload name="imagebinary" customUpload="true" multiple="multiple" accept="image/*" maxFileSize="1000000" (uploadHandler)="onUpload($event)"></p-fileUpload> -->
            <input type="file" (change)="fileChange($event)" accept=".png, .jpg, .jpeg">
          </div>
        </div>
      </div>
      <div class="col col-sm-6">
        <div *ngIf="images.length > 0">
          <div class="row">
            <div *ngFor="let image of images" class="col col-sm-6 images">
              <div (click)="ImageClicked(image.Id)">
                <img style="width:200px" src="{{image.source}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <button type="submit" (click)="AddQuestion()" mat-raised-button>Save</button>
    <button type="button" (click)="HideForm()" mat-raised-button>Close</button>
    <br>
  </form>
  <div class="row">
    <div class="col s10">
    </div>
    <div class="col s2">
      <button *ngIf="!viewForm" style="float:right;" (click)="ShowForm()" mat-raised-button>Add New</button>
    </div>
  </div>
  <br>
  <p-table [value]="_questions">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 50px">Id</th>
        <th>Question</th>
        <th>Lesson</th>
        <th style="width: 200px;">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-question>
      <tr>
        <td>{{question.Id}}</td>
        <td>{{question.Question1}}</td>
        <td>
          {{getLessonName(question.LessonId)}}
        </td>
        <td>
          <p-button label="Edit" id={{question.Id}} (onClick)="EditQuestion(question.Id)"></p-button>
          <p-button label="Delete" id={{question.Id}} (onClick)="DeleteQuestion(question.Id)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>