<div class="container">
  <div class="row">
    <div class="col s9" style="border:1px solid  gray; border-radius: 5px;padding: 5px">
      <a (click)="alert('')" class="btn blue" style="float: right; margin-right:5px">Print</a>
      <a (click)="alert('')" class="btn red" style="float: right; margin-right:5px">Mail</a>
      <a (click)="alert('')" class="btn green" style="float: right; margin-right:5px">Save</a>
    </div>
    <div class="col s3">
     
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <app-qcreate></app-qcreate>
    </div>
    <div class="col s6 canvas">
      <app-qcanvas></app-qcanvas>
    </div>
  </div>
</div>