<p-table [value]="_questionpapers">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 50px">Id</th>
      <th>Name</th>
      <th style="width: 200px;">Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-questionpaper>
    <tr>
      <td>{{questionpaper.Id}}</td>
      <td>{{questionpaper.html}}</td>
      <td>
        <p-button style="margin-right:5px" label="Edit" id={{questionpaper.Id}} (onClick)="editQuestionPaper(questionpaper.html,questionpaper.Id)"></p-button>
        <p-button label="Delete" id={{questionpaper.Id}} (onClick)="deleteQuestionPaper(questionpaper.Id)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>