<div class="row"><app-navigation></app-navigation></div>
<div class="container">
<div *ngIf="isLoginError" class="red-text center error-message">
    <i class="material-icons">error</i> Incorrect username or password
</div>
<form  #changePasswordForm="ngForm" class="col s12 white"
  (ngSubmit)="OnSubmit(changePasswordForm)" >
      <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input type="text" [(ngModel)]="OldPassword" name="OldPassword" placeholder="OldPassword" required>
      </div>
    </div>
    <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">vpn_key</i>
         <input type="password" [(ngModel)]="NewPassword" name="NewPassword" placeholder="NewPassword" required>
       </div>
     </div>

     <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input type="password" [(ngModel)]="ConfirmPassword" name="ConfirmPassword" placeholder="ConfirmPassword" required>
      </div>
    </div>
     <div class="row">
         <div class="input-field col s12">
           <button [disabled]="!changePasswordForm.valid" class="btn-large btn-submit" type="submit">Login</button>
         </div>
       </div>
 </form>
 </div>
