<!-- <h5 style="text-align:left"><strong>Controls</strong></h5> -->

<br>
<p-table [value]="_questions">
    <ng-template pTemplate="header">
        <tr>
            <th>Question</th>
            <th style="width: 100px">Action</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-question>
        <tr>
            <td>{{question.Question1}}</td>
            <td>
                <p-button label="Add" id={{question.Id}} (onClick)="AddQuestion(question.Id)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
<div *ngIf="images.length > 0">
    <div class="row">
        <div *ngFor="let image of images" class="col col-sm-6 images">
            <div (click)="ImageClicked(image.Id)">
                <img style="width:200px" src="{{image.source}}">
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
