<div class="form-control">
  <br>
  <form *ngIf="viewForm" #SubjectForm="ngForm" class="example-form" style="width:80%">
    <input type="hidden" name="Id" [(ngModel)]="_subject.Id" #IdField>
    <div class="row">
      <div class="col s12">
        <input type="text" size="120" [(ngModel)]="_subject.Name" required placeholder="Name" name="Name" #NameField
          pInputText>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col col-sm-4">
        <input type="text" size="40" [(ngModel)]="_subject.Acronym" required placeholder="Acronym" name="Acronym"
          #AcronymField pInputText>
      </div>
      <div class="col col-sm-1">
      </div>
      <div class="col col-sm-2">
          <input type="text" size="20" [(ngModel)]="_subject.Part" required placeholder="Part" name="Part"
          #PartField pInputText>
      </div>
      <div class="col col-sm-1">
      </div>
      <div class="col col-sm-2">
        <p-dropdown [options]="courses" (onChange)="CourseChange($event)" optionLabel="course"></p-dropdown>
      </div>
    </div>
    <br>
    <button type="submit" (click)="AddSubject()" mat-raised-button>Save</button>
    <button type="button" (click)="HideForm()" mat-raised-button>Close</button>
    <br>
  </form>
  <div class="row">
    <div class="col s10">
    </div>
    <div class="col s2">
      <button *ngIf="!viewForm" style="float:right;" (click)="ShowForm()" mat-raised-button>Add New</button>
    </div>
  </div>
  <br>
  <p-table [value]="_subjects">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 50px">Id</th>
        <th>Name</th>
        <th>Acronym</th>
        <th>Part</th>
        <th>Course</th>
        <th style="width: 200px;">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-subject>
      <tr>
        <td>{{subject.Id}}</td>
        <td>{{subject.Name}}</td>
        <td>{{subject.Acronym}}</td>
        <td>{{subject.Part}}</td>
        <td>{{getCourseName(subject.CourseId)}}</td>
        <td>
          <p-button label="Edit" id={{subject.Id}} (onClick)="EditSubject(subject.Name,subject.Acronym,subject.CourseId,subject.Id,subject.Part)"></p-button>
          <p-button label="Delete" id={{subject.Id}} (onClick)="DeleteSubject(subject.Id)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>